.Explorer-items-container {
  margin-left: 20px;
}

.Explorer-item:hover {
  text-decoration: underline;
}

.Explorer-split-view {
  display: flex;
}

.Explorer-text {
  font-size: 18px;
}

.Explorer-controls-container {
  margin-left: 20px;
}

.Explorer-item,
.Explorer-control {
  cursor: pointer;
}

.Explorer-item:hover,
.Explorer-control:hover {
  filter: brightness(70%);
}
